<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.WMS1.drawful">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activities.game.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".services.GameHandlerService" />
        <activity android:name=".activities.game.GameFinishedActivity" />
        <activity android:name=".activities.game.DrawingActivity" />
        <activity android:name=".activities.game.VoteResultsActivity" />
        <activity android:name=".activities.game.VotingActivity" />
        <activity android:name=".activities.game.GuessingActivity" />
        <activity android:name=".activities.game.WaitingForDrawingActivity" />
        <activity android:name=".activities.room.LobbyActivity" />
        <activity android:name=".activities.general.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.room.JoinActivity" />
        <activity android:name=".activities.user.LoginActivity" />
        <activity android:name=".activities.user.RegisterActivity" />
        <activity android:name=".activities.general.MainActivity" />
    </application>

</manifest>